
button.iconic {
  background-color: #9bae5a;
  border: 1px solid #fff;
  border-radius: 40px;
  box-shadow: 0 0 0 1px rgba(10,10,10,.2);
  width: 2rem;
  height: 2rem;

  i {
    color: #fefefe;
    font-size: 1.5rem;
  }
}
