@include each-color {
  $name: this-name();
  $color: this-color();

  [fill="#{$name}"] {
    background-color: $color;

    &:hover, &:focus {
      [focus] {
        background-color: scale-color($color, $lightness: -10%);
      }
    }
  }

  [tint="#{$name}"] {
    color: $color;
    fill: $color;

    &:hover, &:focus {
      color: $color;
      fill: $color;

      &[light] {
        background-color: transparentize($color, 0.9) !important;
      }
    }

    &:active {
     &[light] {
        background-color: transparentize($color, 0.8) !important;
      }
    }
  }
}



body {

  > header {
    background-color: $topbar-background;
  }

  > main {

    > router-view {
    }

    > footer {
    }
  }
}

