welcome-card {
  display: flex;
  flex: 1 0 auto;
  max-width: 50%;
  min-height: 280px;
  align-items: center;
  justify-content: center;
  position: relative;

  background-image: url("resources/images/bg-dreamer.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  picture {
    img {
      transform: translate3d(0, 50%, 0);
      transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
      will-change: transform;
    }
  }

  header {
    padding: $global-padding;
    text-align: center;
    color: $light-gray;

    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  }

  &:hover {
    picture img {
      transform: translate3d(0, 0, 0);
    }
    header {
      opacity: 1;
    }
  }
}
