$welcome-card-width: 425px;


// footer {
//   display: none !important;
// }

router-view {
  position: relative;

}

main {
  > footer {
    // display: none;
  }
}

page-view#welcome {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  max-width: 1200px;
}

section.card__row {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  padding: 0;
  position: relative;
}

welcome-card {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 50%;
  max-height: 50%;
  min-height: 50%;
  min-width: 50%;
  transform-origin: center center;

  transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transform: translateZ(0);

  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: none;
          backface-visibility: none;

  > card-content {
    display: flex;
    position: relative;
    flex: 1 0 auto;
    transform-origin: center center;
    will-change: transform;
    max-width: 80%;
    margin: auto;
  }

  &:nth-child(1),
  &:nth-child(3) {
    > card-content {
      // margin-left: 10%;
      // margin-right: 5%;
    }
  }

  &:nth-child(2),
  &:nth-child(4) {
    > card-content {
      // margin-left: 5%;
      // margin-right: 10%;
    }
  }

  card-background {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    // transform: translateY(15%);
    transition: box-shadow 0.2s ease-out 0s;
    box-shadow: 0 12px 12px -6px rgba(0,0,0,0.2), 0 12px 20px -6px rgba(0,0,0,0.3);
    border-radius: 12px;
    overflow: hidden;

    .shine,
    .content,
    .main-background,
    .blur-background {
      border-radius: inherit;
      overflow: hidden;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
    }

    .main-background,
    .blur-background {
      height: inherit;
      transition: all 0.2s ease-out 0s;
    }

    .main-background {
      z-index: 1;
      padding: inherit;
    }

    .blur-background {
      z-index: 2;
      padding: 0;
      opacity: 0;
      overflow: hidden !important;
      border-radius: inherit;
      filter: blur(5px);
    }

    .shine {
      transition: background 0.2s ease-out 0s;
      bottom: 0;
      background: radial-gradient(1000px at 50% 50%, rgba(255,255,255, .25), transparent);
      z-index: 10;
    }

    .content {
      bottom: 0;
      z-index: 6;
    }


    div[class*="layer-"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: 0 0;
      border-radius: 5px;
    }
    .layer-1 {
      // background-image: url("http://lab.mariusbalaj.com/poster/deadpool/1.png");
    }
    .layer-2 {
      // background-image: url("http://lab.mariusbalaj.com/poster/deadpool/2.png");
    }
    .layer-3 {
      // background-image: url("http://lab.mariusbalaj.com/poster/deadpool/3.png");
    }
    .layer-4 {
      // background-image: url("http://lab.mariusbalaj.com/poster/deadpool/4.png");
    }
    .layer-5 {
      // background-image: url("http://lab.mariusbalaj.com/poster/deadpool/5.png");
    }
  }

  picture {
    display: block;
    height: auto;
    min-width: 100%;
    text-align: center;

    img {
      // transform: translate3d(0, 50%, 0);
      // transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
      // will-change: transform;
    }
  }

  header {
    padding: $global-padding;
    text-align: center;
    color: $light-gray;
    transition: opacity 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    h2 {
      margin: 0;
      line-height: 1;
    }
    p {
      opacity: 0;
      transition: opacity 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    }
  }

  &:hover {
    card-background {
      box-shadow: 0 24px 24px -10px rgba(0,0,0,0.25), 0 12px 20px -6px rgba(0,0,0,0.3);
    }

    .blur-background {
      opacity: 1;
    }

    .content header p {
      opacity: 1;
    }
  }

  &:active {
    card-background {
      box-shadow: 0 6px 6px -3px rgba(0,0,0,0.19), 0 12px 20px -6px rgba(0,0,0,0.3) !important;
    }
  }
}


welcome-card {
  // min-height: calc(#{$welcome-card-width} * 0.6666);
  > card-content > card-background,

  > card-content > card-background .blur-background,
  > card-content > card-background .main-background {
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
  }

  // margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  welcome-card {
    header {
      h2 {
        margin: 0 0 1rem 0;
        line-height: 1.4;
      }

      p {
        font-size: 18px;
      }
    }
  }
}
@media screen and (min-width: 480px) {
  welcome-card {
    // min-width: 33vw;
  }
}

@media screen and (min-width: 480px) and (max-width: 700px) {
  welcome-card {
    > card-content > card-background .blur-background,
    > card-content > card-background .main-background {
      padding-bottom: 75%; /* 4:3, Dribbble-style */
    }
  }
}







