/* Dreamer */

.bg-dreamer {
  background-image: url("resources/images/bg-dreamer.jpg");

  img {
    margin: 0 9.5rem;
  }
}

/* Investor */

.bg-investor {
  background-image: url("resources/images/bg-investor.jpg");

  img {
    margin: 0 9.5rem;
  }
}

/* Mentor */

.bg-mentor {
  background-image: url("resources/images/bg-mentor.jpg");

  img {
    margin: 0 9.5rem;
  }
}

/* Service Provider */

.bg-provider {
  background-image: url("resources/images/bg-developer.jpg");

  img {
    margin: 0 9.5rem;
  }
}
