$portal-height: 88vh;
$portal-width: 95vw;

$portal-width-large: 95vw;
$portal-height-large: 88vh;

$aside-active-tint: $grey-800;
$aside-active-fill: rgba(255,255,255,0.1);
$portal-aside-size: 80px;
$portal-aside-fill: rgba(255,255,255,0.01);
$portal-aside-project-fill: rgba(0,0,0,0.5);
$portal-fab-fill: $teal-50;
$portal-header-height: $portal-aside-size;

app-portal {
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-name: fade-in;
  opacity: 0;

  transform: translateY(-130px);
  display: flex;
  position: relative;
  flex-direction: row;
  pointer-events: auto;

  max-width: $portal-width;
  min-width: $portal-width;
  max-height: $portal-height;
  min-height: $portal-height;

  background-color: $white-2;
  border-radius: 12px;
  box-shadow: 0 10px 20px -5px $black-4, 0 2px 30px $black-3;
  margin: 0 auto;

  overflow: hidden;

  > aside,
  > section {
    > header {
      position: relative;
      min-width: 100%;
      min-height: $portal-header-height;
    }
  }

  > aside {
    flex: 0 0 $portal-aside-size;
    min-height: 100%;
    background-color: $portal-aside-fill;
  }

  &.portal-default {
    > aside {
      background-color: $portal-aside-fill;
    }
  }

  > section {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    position: relative;
    flex-direction: column;

    > router-view {
      background-color: rgba(255,255,255,0.6);
    }
  }
}



app-portal > section {
  > header {
    display: flex;
    align-items: center;
    flex-direction: row;
    min-width: 100%;
    padding-left: 1rem;
    min-height: $portal-header-height;
    min-height: $portal-aside-size;
    line-height: $portal-aside-size;

    h1, h2, h3, h4, h5, h6 {
      display: flex;
      flex-direction: row;
      margin: 0;

      icon, icon i.material-icons {
        height: inherit;
        line-height: inherit;
      }

      strong:not(.aurelia-hide) ~ span {
        font-size: 1.5rem;
        font-weight: 500;
        color: $color-primary;
        margin: auto;
      }
    }

    > nav.right-nav {
      margin-left: auto;
      margin-right: 0.5rem;

      > button {
        color: $light-blue-500;

        &:hover {
          color: $light-blue-300;
          background-color: transparent;
        }

        &:active {
          color: $light-blue-100;
          background-color: transparent;
        }
      }
    }
  }

  fab {
    background-color: $portal-fab-fill;
    color: $grey-800;
  }

  > router-view {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    min-width: 100%;
  }
}

app-portal aside {
  header {
    min-width: $portal-aside-size;
    min-height: $portal-aside-size;
    line-height: $portal-aside-size;

    > nav {
      position: relative;
      > a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &:active,
        &:visited,
        &:focus,
        &:hover {
          color: inherit;
        }

        > icon {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          animation-timing-function: ease-out;
          animation-duration: 0.2s;
          animation-direction: alternate;
          animation-fill-mode: forwards;
          transform: rotate(180deg);
        }

        > icon.home {
          animation-name: homeicon-back-to-home;
        }

        > icon.back {
          animation-name: backicon-back-to-home;
        }

        &.show-back-icon {
          > icon.back {
            animation-name: backicon-home-to-back;
          }

          > icon.home {
            animation-name: homeicon-home-to-back;
          }
        }
      }



      @include keyframes(homeicon-back-to-home) {
        from {
          opacity: 0;
          transform: rotate(180deg);
        }

        to {
          opacity: 1;
          transform: rotate(360deg);
        }
      }

      @include keyframes(backicon-back-to-home) {
        from {
          opacity: 1;
          transform: rotate(180deg);
        }

        to {
          opacity: 0;
          transform: rotate(360deg);
        }
      }

      @include keyframes(homeicon-home-to-back) {
        from {
          opacity: 1;
          transform: rotate(0);
        }

        to {
          opacity: 0;
          transform: rotate(180deg);
        }
      }

      @include keyframes(backicon-home-to-back) {
        from {
          opacity: 0;
          transform: rotate(0deg);
        }

        to {
          opacity: 1;
          transform: rotate(180deg);
        }
      }
    }
  }

  nav {
    a {
      display: block;
      min-width: $portal-aside-size;
      min-height: $portal-aside-size;
      line-height: $portal-aside-size;
      text-align: center;
      color: $aside-active-tint;

      icon {
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: inherit;
        min-width: inherit;
      }

      &:focus {
        background-color: transparent;
      }

      &:hover,
      &:active,
      &.is-selected {
        color: $aside-active-tint;
      }

      &:hover {
        background-color: rgba(0,0,0,0.01);
        color: $aside-active-tint;
        fill: $aside-active-tint;
      }

      &:active {
        background-color: rgba(0,0,0,0.05);
        color: $aside-active-tint;
        fill: $aside-active-tint;
      }

      &.is-selected {
        background-color: rgba(255,255,255,0.6);
      }
    }
  }
}


app-portal aside.portal-expanded {
  nav > a {
    max-height: 48px;
    line-height: 48px;
  }
}

@include keyframes(fade-in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media screen and (min-width: 1024px) {
  app-portal {
    max-width: $portal-width-large;
    min-width: $portal-width-large;
    max-height: $portal-height-large;
    min-height: $portal-height-large;
  }
}
